.app-container {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    margin: 20px auto;
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
